@page "/watchlist"
<h3>Watchlist</h3>
@using Syncfusion.Blazor.Grids
@using FrontEnd.Utils
@inject ApiClient _httpClient

<SfGrid DataSource="@DetailsList">
    <GridColumns>
        @foreach (var prop in typeof(WatchlistData).GetProperties())
        {
            @if (@prop.Name != "ID")
            {
                <GridColumn Field="@prop.Name" IsPrimaryKey="@(prop.Name == "OrderID")" AllowEditing="@prop.CanWrite"></GridColumn>
            }
        }
        <GridColumn Field="Options"></GridColumn>
    </GridColumns>
</SfGrid>

@code {
    private List<WatchlistData> DetailsList { get; set; } = null!;
 
    protected override async Task OnInitializedAsync()
    {
        var watchlist = await _httpClient.GetWatchlist();
        if (watchlist == null)
        {
            //TODO Handle error
            return;
        }
        DetailsList = watchlist;
    }
}